body{
    background-color: black;
}
#main{
    background-color: #fff;
    margin-top: 100px;
    height: 580px;
    width: 400px;
}
#head{
    width: 400px;
    height: 80px;
    background-color: chartreuse;
}
#year, #month{
    background-color: rgb(216, 255, 126);
    font-size: larger;
    display: inline-block;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}
#month{
    margin-top: 10px;
}
#back
{
    display: inline-block;
    margin-right: 40px;
    font-size: xx-large;
    background-color: rgb(185, 255, 115);
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#forward
{
    display: inline-block;
    margin-left: 40px;
    font-size: xx-large;
    background-color: rgb(185, 255, 115);
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
#back:hover, #forward:hover{
    background-color: rgb(135, 228, 41);
    border: 1px solid black;
}
table{
    /* table-layout: fixed;
    width: 50%; */
    margin: 1px;
    border-collapse: collapse;
}
th{
    border: 1px solid rgb(124, 124, 124);
    width: 100px;
    text-align: center;
    /* padding: 12px; */
}
td{
    border: 1px solid rgb(124, 124, 124);
    width: 100px;
    height: 78px;
    text-align: center;
    /* padding: 12px; */
}
